<section class="section" id="about">
    <div class="container mt-3">
        <div class="col align-self-center">

            <div class="container">
            <div class="row mx-auto">
                <div class="col">
                    <mat-radio-button (click)="filter('')">tous événements</mat-radio-button>
                </div>
                <div class="col">
                    <mat-radio-button (click)="filter('gratuits')">Gratuits</mat-radio-button>
                </div>
                <div class="col">
                    <mat-radio-button (click)="filter('payant')">Payants</mat-radio-button>
                </div>
            </div>

            <div class="row mb-3 mt-3">
                <div class="col">
                    <h5><strong>
                        Code postal :  

                    <select class="form-select" aria-label="Default select example" [ngModel]="selectedValue" (ngModelChange)="onChange($event)">
                        
                        <option value="75001"> 75001 </option>
                        <option value="75002"> 75002 </option>
                        <option value="75003"> 75003 </option>
                        <option value="75004"> 75004 </option>
                        <option value="75005"> 75005 </option>
                        <option value="75006"> 75006 </option>
                        <option value="75007"> 75007 </option>
                        <option value="75008"> 75008 </option>
                        <option value="75009"> 75009 </option>
                        <option value="75010"> 75010 </option>
                        <option value="75011"> 75011 </option>
                        <option value="75012"> 75012 </option>
                        <option value="75013"> 75013 </option>
                        <option value="75014"> 75014 </option>
                        <option value="75015"> 75015 </option>
                        <option value="75016"> 75016 </option>
                        <option value="75017"> 75017 </option>
                        <option value="75018"> 75018 </option>
                        <option value="75019"> 75019 </option>
                        <option value="75020"> 75020 </option>
                    </select>
                    
                </strong>
            </h5>
                <br>
                </div>


            </div>

        </div>
        <div class="container">
            <div class="row">

                <div class="col-lg-4 p-3" *ngFor="let item of filterCategory | filter:searchKey:'title'">
                    <!-- <div class="col-lg-4 p-3" *ngFor="let item of itemS| paginate : {
                            itemsPerPage: tableSize,
                            currentPage: page,
                            totalItems: count} | filter: filteredString;
                            let i = index"> -->

                    <div class="card h-100">
                        <img [src]="item.cover_url" onerror="this.src='./assets/images/default.JPEG';" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">{{ item.title }}</h5>
                            <h6 class="card-title"> du {{ item.date_start |date}} au {{
                                item.date_end |date}}
                            </h6>
                            <h6 class="card-title">{{ item.address_zipcode}}</h6>
                            <h6 class="card-title"><strong>{{ item.price_type}}</strong></h6>
                            <h6 class="card-title" *ngIf="item.price_detail">{{ item.price_detail}}</h6>
                            
                            <button mat-raised-button color="warn" (click)="openScrollableContent(longContent)">Détails</button>
                            <!-- <button mat-raised-button color="primary" (click)=addtocart(item)>Favoris</button> -->
                            
                            <ng-template #longContent let-modal>
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" style="color:#ffffff">{{ item.title }}
                                        </h3>
                                        <button type="button" class="close" aria-label="Close" style="color:#ffffff"
                                            (click)="modal.dismiss('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-4" *ngIf="item.cover_url">
                                                <img [src]="item.cover_url" alt="...">
                                                <br>

                                            </div>

                                            <div class="col-8">

                                                <div class="row">
                                                    <div class="col-5">
                                                        <h6 style="color:#fb5849"><strong>DATE ET HEURE
                                                            </strong> </h6>
                                                        <h6> du {{ item.date_start |date: 'd MMM y,
                                                            h:mm'}}</h6>
                                                        <h6> au {{ item.date_end |date: 'd MMM y,
                                                            h:mm'}}</h6>
                                                        <br>

                                                        <hr />


                                                        <h6 style="color:#fb5849"><strong>TARIF</strong>
                                                        </h6>
                                                        <h6> {{ item.price_type}}</h6>
                                                        <h6 *ngIf="item.price_detail"> {{
                                                            item.price_detail}}
                                                        </h6>




                                                    </div>

                                                    <div class="col-7">

                                                        <h6 style="color:#fb5849"><strong>ADRESSE</strong>
                                                        </h6>
                                                        <h6 *ngIf="item.address_name"> {{
                                                            item.address_name}}
                                                        </h6>
                                                        <h6 *ngIf="item.address_street"> {{
                                                            item.address_street}}
                                                            {{item.address_zipcode}} Paris, FR </h6>
                                                        <br>
                                                        <hr />

                                                        <h6 style="color:#fb5849" *ngIf="item.contact_phone">
                                                            <strong>INSCRIPTION</strong>
                                                        </h6>

                                                        <h6 *ngIf="item.contact_phone"> {{
                                                            item.contact_phone}}</h6>
                                                        <h6 *ngIf="item.contact_mail"> {{
                                                            item.contact_mail}}
                                                        </h6>

                                                        <br>
                                                        <br>



                                                    </div>

                                                </div>
                                            </div>

                                            <div class="row ">
                                                <div class="col-11 mx-3">

                                                    <br>
                                                    <br>
                                                    <h6 style="color:#fb5849"><strong>DECRIPTION</strong>
                                                    </h6>


                                                    <h6 *ngIf="item.lead_text"><strong>{{
                                                            item.lead_text}}</strong></h6>
                                                    <br>
                                                    <h6 [innerHTML]="item.description"></h6>
                                                    <!-- <h6 {{item.geometry}}></h6> -->


                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light"
                                            (click)="modal.close('Close click')">Close</button>
                                    </div>

                                </div>




                            </ng-template>
                        </div>


                    </div>
                </div>

            </div>
        </div>

        <!-- PAGINATION -->
        <!-- <div class="d-flex justify-content-center mb-3">
        <pagination-controls [responsive]="true" previousLabel="Prev" nextLabel="Next"
            (pageChange)="onTableDataChange($event)">
        </pagination-controls>
    </div> -->

        <!-- <div class="d-flex flex-row-reverse bd-highlight mb-2">
        <div class="p-2 bd-highlight">
            <select (change)="onTableSizeChange($event)" class="custom-select">
                <option *ngFor="let size of tableSizes" [ngValue]="size">
                    {{ size }}
                </option>
            </select>
        </div>
    </div> -->


    </div>
</div>
</section>