.listtable-content {
    padding-top: 50px;
    padding-bottom: 50px;
}


.card-img-top {
    width: 300px;
   height: 250px;
}


.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4
}

.search input:focus {
    box-shadow: none;
    border: 2px solid grey
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: grey
}

.img {
    vertical-align: middle;
    border: 0;
}

.img-responsive {
    display: block;
    width: 100%;
    max-width: 100%;
    
    height: auto;
}



/* .modal-dialog {
 
    width: 360px;

    height:600px !important;

  } */

.modal-content {

/* 80% of window height */

/* height: 60%; */

background-color:#eeeeee;

}       

.modal-header {

background-color: #323232;

padding:16px 16px;

color:#FFF;

/* border-bottom:2px dashed #000000; */

}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }