<section class="section" id="about">
    <div class="container">

        <ng-container *ngIf="products.length !=0">
            <div class="container">
                <div class="card-table">
                    <div class="cart-product">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>Sr.No</th>
                                    <th>Product Name</th>
                                    <th>title</th>
                                    <th>address_zipcode</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of products; let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{item.title}}</td>
                                    <td>{{item.address_zipcode}}</td>
                                    
                                    <td>
                                        <button (click)="removeItem(item)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4"></td>
                                    <td><button (click)="emptycart()" class="btn btn-danger">Empty Cart</button></td>
                                    <!-- <td><button routerLink="/products" class="btn btn-primary">Shop More</button></td> -->
                                    <td><button class="btn btn-success">Checkout</button></td>
                                  
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </ng-container>
        
        
        <ng-container *ngIf="products.length ==0">
            <div class="container">
                <div class="card">
                    <h5 class="card-title">My Cart</h5>
                </div>
                <div class="center">
                    <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" alt="">
                    <h4>Your cart is empty!</h4>
                    <h6>Add item to it now</h6>
                    <button routerLink="/products" class="btn btn-primary">Shop Now</button>
                </div>
            </div>
        </ng-container>

</div>
</section>