<section class="section" id="about">
    <div class="container">
        <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12 mb-4">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>Qui sommes-nous? </h6>
                            
                            <br>
                            <h3>Où occuper les enfants à Paris ?</h3>
                            <br>
                        </div>
                        
                        <p>A Paris, les choix ne manquent pas pour occuper les enfants, les initier à l’art ou leur réserver de jolies surprises !</p>
                        <p>GoKids a construit une suite complète de services qui met l'ensemble de l'écosystème de services liés aux enfants à portée de main !. 
                        GoKids donne des informations sur les événements, les ateliers et les lieux de divertissement adaptés aux enfants à Paris.</p>
                        
                        
                        
                       
                        <div class="row">
                            <div class="col-4 mb-4">
                                <img src="assets/images/about-thumb-04.jpg" alt="">
                            </div>
                            <div class="col-4">
                                <img src="assets/images/about-thumb-05.jpg" alt="">
                            </div>
                            <div class="col-4">
                                <img src="assets/images/about-thumb-07.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="right-content">
                        <div class="thumb">
                            


                            <a rel="nofollow" href="http://youtube.com"><i class="fa fa-play"></i></a>
                            
                            
                            <img src="assets/images/about-video-bg.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
    </section>
    
