
<section class="signup">
  <div class="container">
      <div class="signup-content">
          <div class="signup-form">
              <h2 class="form-title">Inscription</h2>

                  <form
                  class="register-form"
                  id="register-form"
                  *ngIf="!isSuccessful"
                  name="form"
                  (ngSubmit)="f.form.valid && onSubmit()"
                  #f="ngForm"
                  novalidate>

                  <div class="form-group">
                      <label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                      <input
                        type="text"
                        class="form-control"
                        name="username"
                        [(ngModel)]="form.username"
                        required
                        minlength="3"
                        maxlength="20"
                        #username="ngModel"
                        placeholder=" Username *"/>

                      <div class="alert-danger" *ngIf="username.errors && f.submitted">
                        <div *ngIf="username.errors.required">Username is required</div>
                        <div *ngIf="username.errors.minlength">
                          Username must be at least 3 characters
                        </div>
                        <div *ngIf="username.errors.maxlength">
                          Username must be at most 20 characters
                        </div>
                      </div>
                    </div>


                  <div class="form-group">
                      <label for="email"><i class="zmdi zmdi-email"></i></label>
                      <input
                        type="email"
                        class="form-control"
                        name="email"
                        [(ngModel)]="form.email"
                        required
                        email
                        #email="ngModel"
                        placeholder=" Email *"/>

                      <div class="alert-danger" *ngIf="email.errors && f.submitted">
                        <div *ngIf="email.errors.required">Email is required</div>
                        <div *ngIf="email.errors.email">
                          Email must be a valid email address
                        </div>
                      </div>
                    </div>

                  <div class="form-group">
                      <label for="password"><i class="zmdi zmdi-lock"></i></label>
                      <input
                        type="password"
                        class="form-control"
                        name="password"
                        [(ngModel)]="form.password"
                        required
                        minlength="6"
                        #password="ngModel"
                        placeholder=" Password *"/>

                      <div class="alert-danger" *ngIf="password.errors && f.submitted">
                        <div *ngIf="password.errors.required">Password is required</div>
                        <div *ngIf="password.errors.minlength">
                          Password must be at least 6 characters
                        </div>
                      </div>
                    </div>

                  <div class="form-group form-button">
                      <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                  </div>

                  <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                      Signup failed!<br />{{ errorMessage }}
                    </div>
              </form>

              <div class="alert alert-success" *ngIf="isSuccessful">
                Bienvenue chez GoKids! Votre inscription a bien été enregistrée!
                </div>

          </div>
          <div class="signup-image">
              <figure><img src="assets/images/signup-image.jpg" alt="sing up image"></figure>
             
              <a routerLink="/login" class="signup-image-link">Déjà membre ?</a>
          </div>
      </div>
  </div>
</section>

