<!-- <section class="section" id="about"> -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-xs-12">
            
                <nav class="main-nav">
                    
                    <h1 routerLink="/" class="logo">
                        <img src="assets/images/logoG.png" align="klassy cafe html template">
                    </h1>
                  
                    <ul class="nav" routerLinkActive="active" *ngIf="!isLoggedIn">

                        <li class="scroll-to-section">
                            <a routerLink="/" routerLinkActive="active" >Accueil</a>
                        </li>
    
                        <li class="scroll-to-section" *ngIf="showAdminBoard">
                            <a href="/admin" routerLink="admin" routerLinkActive="active">Admin Board</a>
                        </li>
    
    
                        <li class="scroll-to-section">
                            <a routerLink="/about" routerLinkActive="active">Qui sommes-nous</a>
                        </li>
    
                        <li class="scroll-to-section">
                            <a routerLink="/list" routerLinkActive="active">Evenements</a>
                        </li> 
    
                        <li class="scroll-to-section">
                            <a routerLink="/contactus" routerLinkActive="active">Contactez-nous</a>
                        </li> 
    
                
                        <!-- <li class="scroll-to-section">
                          <a href="/register" routerLink="register" routerLinkActive="active">Inscription</a>
                        </li>
                        <li class="nav-item">
                          <a href="/login" routerLink="login" routerLinkActive="active">Connexion</a>
                        </li> -->

                         <li class="scroll-to-section">
                          <a routerLink="/register" routerLinkActive="active">Inscription</a>
                        </li>
                        <li class="nav-item">
                          <a routerLink="/login" routerLinkActive="active">Connexion</a>
                        </li>

                        

                      </ul>
                  
                      <ul class="nav" *ngIf="isLoggedIn">
                        <li class="scroll-to-section">
                          <a href="/profile" routerLink="profile" routerLinkActive="active">Bonjour {{username}}!</a>
                        </li>
                        <li class="scroll-to-section">
                          <a href (click)="logout()"routerLinkActive="active">Déconnexion</a>
                        </li>
                      </ul>
                    
                    
                </nav>
            </div>
        </div>
    </div>
    </header>
  <!-- </section> -->