<!-- <section class="section" id="about">
  <div class="container">

  <div>
      <p>Total des événements {{EVENEMENTS.length}}</p>
      <p>Total des événements gratuit : {{nombreEvenementGratuit()}}</p>
    </div> -->

<!-- <div class="d-flex align-content-center flex-wrap">
      <div class="col-lg-4 p-3">
        <div class="card text-white bg-primary mb-3">
          <div class="card-body">
            <h5 class="card-title">Total événements</h5>
              <p class="card-text">{{EVENEMENTS.length}}</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 p-3">
        <div class="card text-white bg-secondary mb-3">

          <div class="card-body">
            <h5 class="card-title">Total événements gratuits</h5>
            <p class="card-text">{{nombreEvenementGratuit()}}</p>
          </div>
        </div>
      </div>

    </div>
  </div> 

  
</section> -->

<section class="section" id="about">
  

    <div class="col align-self-center">
      <div class="row mb-4 m-5">
        <div class="col-xl-4 col-lg-6">
          <div class="card h-100 p-3 mr-5">
            <div class="card-body">
              <h6 class="card-title">Total événements</h6>
              <h2 class="card-title"><strong>{{EVENEMENTS.length}}</strong></h2>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-lg-6">
          <div class="card h-100 p-3 mr-5">
            <div class="card-body">
              <h6 class="card-title">Total événements gratuits</h6>
              <h2 class="card-title"><strong>{{nombreEvenementGratuit() +
                  nombreEvenementGratuitSousCondition()}}</strong></h2>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-lg-6">
          <div class="card h-100 p-3 mr-5">
            <div class="card-body">
              <h6 class="card-title">Total événements payants</h6>
              <h2 class="card-title"><strong>{{nombreEvenementPayant()}}</strong></h2>
            </div>
          </div>
        </div>

      </div>




    </div>







</section>