<section class="section" id="about">
    
    <div id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-5">
                    <div class="left-content">
                        <div class="inner-content">
                            <h4>GoKids</h4>
                            <h6>Enfants plus heureux</h6>
                            <div class="main-white-button scroll-to-section">
                                <a  href="/list" routerLink="list">Voir les Evenements</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-8 mb-5">
                    <div class="main-banner header-text">
                        <div class="Modern-Slider">
                        
                                
    
                                <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
                                    <!--Indicators-->
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                                        <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                                        <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                                    </ol>
                                    <!--/.Indicators-->
                                    <!--Slides-->
    
    
                                <div class="carousel-inner" role="listbox">
                                    <!--First slide-->
                                    <div class="carousel-item active ">
                                        
                                            <img class="d-block img-fluid" src="assets/images/slide-06.jpg" alt="First slide">
                                            
                                    
                                    </div>
                                    <!--/First slide-->
                                    <!--Second slide-->
                                    <div class="carousel-item ">
                                        
                                            <img class="d-block img-fluid" src="assets/images/slide-06e.jpg" alt="Second slide">
                                            
                                
                                        
                                    </div>
                                    <!--/Second slide-->
                                    <!--Third slide-->
                                    <div class="carousel-item ">
                                        
                                            <img class="d-block w-100 " src="assets/images/slide-06g.jpg" alt="Second slide">
                                            
                                            
                                       
                                    </div>
                                    <!--/Third slide-->
                                </div>
                                <!--/.Slides-->
                                <!--Controls-->
                                <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                                <!--/.Controls-->
                            </div>
                            
                        
                        
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    
    </div> 
    
    
    </section>
    