<section class="section" id="login">
  <div class="container">
    <div class="signin-content">
      <div class="signin-image">
        <figure><img src="assets/images/signin-image.jpg" alt="sing up image"></figure>
        <a routerLink="/register" class="signup-image-link"><strong>Créer un compte</strong></a>
      </div>

      <div class="signin-form">
        <h2 class="form-title" ><strong>Connectez-vous</strong></h2>
        

        <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="form-group">
            <label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
            <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required
              #username="ngModel" placeholder=" Username *" />
            <div class="alert alert-danger" role="alert" *ngIf="username.errors && f.submitted">
              Username is required!
            </div>
          </div>

          <div class="form-group">
            <label for="password"><i class="zmdi zmdi-lock"></i></label>
            <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required
              minlength="6" #password="ngModel" placeholder=" Mot de passe *" />
            <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
              <div *ngIf="password.errors.required">Password is required</div>
            </div>
          </div>

          
          <div class="form-group form-button">
            <input type="submit" name="signin" id="signin" class="form-submit" value="Valider" />
          </div>
          <div class="form-group">
            <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
              Login failed: {{ errorMessage }}
            </div>
          </div>
          <div class="social-login">
            <span class="social-label"></span>
            <ul class="socials">
              <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
              <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
              <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
            </ul>
          </div>

        </form>

        <div class="alert alert-success" *ngIf="isLoggedIn">
          Bonjour chez GoKids ! vous êtes connecté!
        </div>
      </div>

    </div>


  </div>


</section>
