<!-- 
         <div class="container-fluid">
            <div class="row">

               <div class="main-header">
                  <h4>Dashboard</h4>
               </div>
            </div>
          
            
            
            <div class="row dashboard-header">
            
             <div class="col-lg-6 col-md-6">
                  <div class="card dashboard-alluser">
                     <span>Total - Utilisateurs</span>
                     <h2 th:block th:text="${#lists.size(getAllUser)}"></th:block></h2>
                     <a th:href="@{/admin/list}" class="badge badge-info">voir la liste</a>
                     <div class="side-box">
                        <i class="icon-user text-warning-color"></i>
                     </div>
                  </div>
               </div>
            
               <div class="col-lg-6 col-md-6">
                  <div class="card dashboard-allevents">
                     <span>Total - Evénements</span>
                     <h2 th:block th:text="${#lists.size(listEvents)}"></th:block></h2>

                     <a th:href="@{/admin/list/event}" class="badge badge-info">voir la liste</a>
                     <div class="side-box">
                        <i class="ti-list text-warning-color"></i>
                     </div>
                  </div>
               </div>
               
               
                <div class="col-lg-3 col-md-3">
                  <div class="card dashboard-users">
                     <span>Participants</span>
                     <h2 th:block th:text="${listParticipant}"></th:block></h2>
                     <a th:href="@{/admin/list/participant}" class="badge badge-info">voir la liste</a>
                     <div class="side-box">
                        <i class="ti-rocket text-danger-color"></i>
                     </div>
                  </div>
               </div>
               
               <div class="col-lg-3 col-md-3">
                  <div class="card dashboard-users">
                     <span>Organisateurs</span>
                       <h2 th:block th:text="${listOrganisateur}"></th:block></h2>
                     <a th:href="@{/admin/list/organisateur}" class="badge badge-info">voir la liste</a>
                     <div class="side-box ">
                        <i class="ti-gift text-primary-color"></i>
                        
                     </div>
                  </div>
               </div>
               
                <div class="col-lg-3 col-md-3">
                  <div class="card dashboard-events">
                     <span>Evénements à venir</span>
                     <h2 th:block th:text="${#lists.size(listFutureEvents)}"></th:block></h2>
                     <a th:href="@{/admin/list/event/future}" class="badge badge-info">voir la liste</a>
                     <div class="side-box">
                        <i class="ti-list text-warning-color"></i>
                  
                     </div>
                    
                  </div>
               </div>
               
               <div class="col-lg-3 col-md-3">
                  <div class="card dashboard-events">
                     <span>Evénements passés</span>
                     <h2 th:block th:text="${#lists.size(listPastEvents)}"></th:block></h2>
                     <a th:href="@{/admin/list/event/past}" class="badge badge-info">voir la liste</a>
                     <div class="side-box">
                        <i class="ti-list text-warning-color"></i>
                  
                     </div>
                    
                  </div>
               </div>
               
               
               <div class="col-lg-3 col-md-3">
                  <div class="card dashboard-users">
                     <span>Prestataires</span>
                       <h2 th:block th:text="${listPrestataire}"></th:block></h2>
                     <a th:href="@{/admin/list/prestataire}" class="badge badge-info">voir la liste</a>
                     <div class="side-box">
                        <i class="ti-direction-alt text-success-color"></i>
                     </div>
                  </div>
               </div>
               
               <div class="col-lg-3 col-md-3">
                  <div class="card dashboard-users">
                     <span>Administrateurs</span>
                      <h2 th:block th:text="${listAdmin}"></th:block></h2>
                     <a th:href="@{/admin/list/admin}" class="badge badge-info">voir la liste</a>
                     <div class="side-box">
                        <i class="ti-direction-alt text-success-color"></i>
                     </div>
                  </div>
               </div>
               
               
              
               
               <div class="col-lg-3 col-md-3">
                  <div class="card dashboard-events ">
                     <span>Types</span>
                     <h2 th:block th:text="${#lists.size(listEventTypes)}"></th:block></h2>
                     <a th:href="@{/admin/list/eventType}" class="badge badge-info">voir la liste</a>
                     <div class="side-box">
                        <i class="ti-list text-warning-color"></i>
                  
                     </div>
                    
                  </div>
               </div>
               
               <div class="col-lg-3 col-md-3">
                  <div class="card dashboard-events ">
                     <span>Lieux </span>
                     <h2 th:block th:text="${#lists.size(listAdress)}"></th:block></h2>
                     <a th:href="@{/admin/list/location}" class="badge badge-info">voir la liste</a>
                     <div class="side-box">
                        <i class="ti-list text-warning-color"></i>
                  
                     </div>
                    
                  </div>
               </div>
              
            </div>
            

      </div>
   </div>
  -->
