<section class="section" id="about" style="background-color: #eee;">
  <div class="container " *ngIf="currentUser; else loggedOut">
    <!-- <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
            <a routerLink="/" routerLinkActive="active" >Accueil</a></li>
            <li class="breadcrumb-item"><a href="#">User</a></li>
            <li class="breadcrumb-item active" aria-current="page">Mon compte</li>
          </ol>
        </nav>
      </div>
    </div> -->

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="assets/images/avatargirl.jpg" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
            
            <h5 class="my-3">Bonjour {{ currentUser.username }} ! </h5>
            
            <p class="text-muted mb-4">Paris, France</p>
            <div class="d-flex justify-content-center">
              <button type="button" class="btn btn-primary">Edit</button>

              
            </div>
          </div>
        </div>
        
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Username</h6>
              </div>
              <div class="col-sm-9">
                <h6 class="text-muted mb-0">{{ currentUser.username }}</h6>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9">
                <h6 class="text-muted mb-0">{{ currentUser.email }}</h6>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Role</h6>
              </div>
              <div class="col-sm-9">
                <h6 class="text-muted mb-0">{{ currentUser.roles }}</h6>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Address</h6>
              </div>
              <div class="col-sm-9">
                <h6 class="text-muted">Paris</h6>
              </div>
              <br>
              <br>


            </div>
   
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>


<ng-template #loggedOut>
  Please login.
</ng-template>